.root {
  position: absolute;
  padding: 0 10px;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100dvh;
  background-color: white;
  color: white;
  background: linear-gradient(90deg, #0E0E10, #1B1D20);

  img {
    border-radius: 10px;
  }
}

.root+* {
  --c7: none;
}

.headerText {
  font-size: 2em;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.header {
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}

.board {
  background: linear-gradient(90deg, #0E0E10, #1B1D20);
  width: 100%;
}

.aboutPlatform {
  width: 100%;
  max-width: 650px;
  margin: auto;
  text-align: center;

  .lines {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.authorization {
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    margin-top: 2rem;
  }

  .authorizationImg {
    margin: auto;
    width: 100%;
  }
}

.posts {
  margin: auto;
}

.postsImages {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  img {
    width: fit-content;
    margin: auto;
    max-width: 100%;
  }
}