@import url(colors.css);
@import url(reset.css);
@import url(scroll.css);

/* GENERAL STYLES */
html {
  scroll-padding-top: 6rem;
}

body {
  background-color: var(--c1);
  color: var(--c3);
}
.container {
  max-width: 1280px;
  margin: auto;
}

a {
  color: var(--c3);
}


::selection{
  background-color: var(--c4);
  color: var(--c1);
}

::-moz-selection {
}