.footer {
  margin-top: 6.5rem;
  margin-bottom: 0rem;

  .footerText {
    font-size: 14px;
    color: var(--c2);
    line-height: 20px;
    letter-spacing: 1px;

    a {
      text-decoration: none;
      font-weight: bold;
      color: var(--c3);

      &:hover {
        color: var(--c4);
      }
    }
  }
}